.env
venv/

# Ignorar todos los directorios __pycache__
**/__pycache__/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

/datasets/

models/model_datasets/
models/trained_models/
models

.DS_Store
spec/

*.db
